@model IEnumerable<Product>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">DateAdded</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>@item.productName</td>
                    <td>@item.dateAdded</td>
                    <td>@item.category.name</td>
                    <td>@item.Quantity</td>
                    <td>@item.price</td>
                    <td><a class="btn btn-primary" asp-action="Edit" asp-route-id=@item.id>Edit</a></td>
              
                    <td><a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id=@item.id>Delete</a></td>
                </tr>
            </tbody>
        }


    </table>
    <div>
        <a type="button" class="btn btn-primary" asp-action="Add" asp-controller="Product">Add New</a>
    </div>